.navigation-ul{
  display:flex;
  list-style-type: none;
  background-color: black;
  min-height: 45px;
}

.active{
  background-color: rgb(161,161,27);
}

a{
  display: flex;
  text-decoration: none;
  padding: 0 15px;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.container{
  display: grid;
  grid-template-columns: auto auto auto;
}

.card{
  text-align: center;
  background-color: #F1F1F1;
}

.card img{
  width: 100%;
}

.column{
  padding: 9px 10px;
}

button{
  width: 100%;
  background-color: black;
  color: white;

}

